body
{
color: rgb(27, 12, 112);
background: rgb(202, 15, 177);
}
.heading
{
width: 80%;
font-size: 25px;
color: rgb(36, 243, 64);
}
#camera
{
border: 2px dashed rgb(235, 102, 14);
width: 350px;
height: 300px;
}
.name_of_objects, #result_object_name,#result_object_accuracy
{
    color:rgb(13, 1, 20);
}